@page
@model Customer.Pages.Shopping_cartModel
@{
    int stt = 1;
}

<div class="cart-page">
<h2>CART</h2>

    @if (@Model.cart.Count > 0)
    {
        <form method="post" asp-page="shopping_cart" asp-page-handler="update">
        <table>
            <tr>
                <th>#</th>
                <th>Product</th>    
                <th>Price</th>
                    <th>Quantity <input type="submit" class="fa" value="Update &#xf044;" /></th>
                <th>Total</th>
                <th></th>
            </tr>
            @foreach (var cartitem in @Model.cart)
            {
                
                <tr>
                    <td>@(stt++)</td>
                    <td>@cartitem.Product.ProductName</td>
                    <td>@cartitem.Product.Price</td>
                    <td><input type="number" name="quantities" value="@cartitem.Quantity" min="1" style="width: 50px;" /></td>
                    <td>$@(cartitem.Product.Price * cartitem.Quantity)</td>
                    <td>                  
                        <a class="btn btn-light rounded-circle" asp-page="shopping_cart" asp-route-id="@cartitem.Product.Id" asp-page-handler="delete">
                            <i class="fa fa-trash cart-remove" aria-hidden="true"></i>
                        </a>
                   
                    </td>
                </tr>
                
            }

    <tr>
        <td colspan="4" style="text-align:right">Total</td>
        <td>@Model.Total</td>
        <td></td>
    </tr>
        </table>
        </form>
    }
    else
    {
        <p class="alert alert-danger">Your cart is empty</p>
    }

</div>


@*<div class="cart-page">
    <table class="cart-content">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img class="cart-img" />
                    <div class="cart-product-title" style="display:grid">
                       product name
                        <i class="fa fa-trash cart-remove" aria-hidden="true"></i>
                    </div>
                    

                </div>
            </td>
            <td><input type="number" value="1" class="cart-quantity" /></td>
            <td><div class="cart-price">200000</div></td>
        </tr>
    </table>

    <div class="total">
        <table>
            <tr>
                <td>Total</td>
                <td class="total-price ">2200000</td>
            </tr>
        </table>
    </div>
</div>*@